html ,body{
    height: 100%;
    width: 95%;
    margin-left: 30px;
}
body{
    background-color: #f5f5dca3;
}
.navigation{   
   position: fixed;
   width: 100%;
   top:0px;
   left:0px;
   z-index:10000;
   height: 70px;   
  background: rgb(64,71,49);
background: linear-gradient(180deg, rgba(64,71,49,0.13535836697960435) 0%, rgba(107,152,109,1) 0%, rgba(108,214,111,1) 0%, rgba(31,59,14,1) 0%, rgba(71,131,73,1) 0%, rgba(247,244,246,0.15776733056503855) 0%, rgba(24,108,34,1) 100%, rgba(189,191,183,1) 100%);
}
.icon{
    background-color: none;
    float:left;
}
.icon img {
    vertical-align: middle;
    border-style: none;
    width: 155px;
    padding-left: 30px;
}
.menu{
    padding-top: 30px;
    display:flex;
    justify-content: flex-end;
   
}
.dropdown{
    padding-right: 15px;
    position: relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8BC34A;
    min-width: 115px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    margin-left: 3px;
}
a.dropdown_item{
    text-decoration: none;
    color: red;
    font-weight: 700;
}
.dropdown-content a{
    text-decoration: none;
    color:white;
    display:block;
}
.dropdown-content a:hover {
    background-color:#3f51b5d6 ;

}
.dropdown:hover .dropdown-content {
    display:block;
}
.row {
    margin-top: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.carousel {
    margin-left: 3%;
    width: 100%;
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    margin-top: 2%;
}
.d-block {
    height: 300px;
    display: block!important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    margin-left: 92px;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}
.newpost {
	margin-top: 90px;
	height: 333px;
	background-color: #3f51b59c;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 12px;
}

.newslist_item {
    padding-top: 8px;
    padding-bottom: 0px;
    border-bottom: solid;
    border-bottom-color: #d3d3d361;
}
.img_news{
    margin-right: 15px;
    width: 25%;
    float: left;
}
.img_news img {
   
    width: 100%;
    vertical-align: middle;
    border-style: none;
    margin-left: 8px;
}
.content_news a {

   
    color: white;
    background-color: transparent;
   
   
    font-size: 14px;
}
.content_news p {
    color: lightgrey;
   
    margin-bottom: 1rem;
   
    font-size: 12px;
    
}
.news_list h4 {
   padding: 2px 8px;
    font-size: 1.5rem;
    color: #ff5722bf;
}
.internal_news {
    padding: 12px;
    /* padding-left: 12px; */
    background-color: white;
    margin-top: 45px;
    margin-bottom: 20px;
}
.internal_news h4 {
    padding: 10px 3px;
    color: #ff000085;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.title_news{
	background-color: #00bcd4b5;
}
.title_news th {
    color: white;
    text-align: inherit;
    padding: 10px;
}
.news_item td {
    padding: 3px 10px 5px;
    font-size: 14px;
    /* padding: 7px; */
    border-bottom: solid;
    border-bottom-color: lightgrey;
}
.news_item a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.news_item a:hover{
	color: orange;
}
.tech_news{
    padding: 12px;
    /* padding-left: 12px; */
    background-color: white;
    margin-top: 45px;
    margin-bottom: 20px;
    
}
.tech_news h4{
    border-bottom: solid #00BCD4;
    padding: 10px 3px;
    color: #ff000085;
}
.color_a{
    color: black;
}
.contact {
    left: 0px;
    position: absolute;
    width: 100%;
    background-color: white;
    color: green;
    margin-top: 20px;
    border-top: solid;
    border-top-color: lightgrey;
    padding: 30px;
}
.col-md-8 a {
    color: #156715;
    text-decoration: none;
    background-color: transparent;
}
.icon_contact {
    color: green;
    margin: 20px;
    display: inline;
}

