
html ,body{
	height: 100%;
    width: 95%;
    margin-left: 30px;
}
body{
    background-color: #f5f5dca3;
}
.navigation{   
   position: fixed;
   width: 100%;
   top:0px;
   left:0px;
   z-index:10000;
   height: 70px;   
  background: rgb(64,71,49);
background: linear-gradient(180deg, rgba(64,71,49,0.13535836697960435) 0%, rgba(107,152,109,1) 0%, 
    rgba(108,214,111,1) 0%, rgba(31,59,14,1) 0%, rgba(71,131,73,1) 0%, rgba(247,244,246,0.15776733056503855) 0%, rgba(24,108,34,1) 100%, rgba(189,191,183,1) 100%);
}
.homepage{
    margin-top: 70px;
	height: 125%;
	background-image: url("../images/wicomlab.jpg");
	opacity: 0.8;
	background-repeat: no-repeat; 
    background-attachment: local;
    background-position:center;
    background-size: cover;
    
   }
   .overlay{
    height: 100%;
   background: rgb(189,191,183);
   background: linear-gradient(0deg, rgba(189,191,183,1) 0%, rgba(247,250,241,0.13535836697960435) 0%, rgba(247,244,246,0.3118289552148985) 100%, rgba(223,189,212,0.31743119611125703) 100%);
   }
.menu{
    padding-top: 30px;
    display:flex;
    justify-content: flex-end;
   
}
.dropdown {
    margin-top: -8px;
    padding-right: 35px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #359c35;
    min-width: 115px;
  
    z-index: 1;
    margin-left: 3px;
}
a.dropdown_item{
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 700;
}
.dropdown-content a{
    text-decoration: none;
    color:white;
    display:block;
}
.dropdown-content a:hover {
    background-color:#3f51b5d6 ;

}
.dropdown:hover .dropdown-content {
    display:block;
}
.nameoflab{
	font-family: Lobster;
    color: white;
    text-align: center;
    padding-top: 8%;
}
.quotation{
	font-family: Gloria Hallelujah;
	color:white;
	text-align: center;
}
.icon{
    background-color: none;
    float:left;

}
.icon img {
    vertical-align: middle;
    border-style: none;
    width: 155px;
    padding-left: 30px;
}
.teacher_lab {
    position: relative;
    padding-top: 20px;
    
    
}
.title_1 {
   
    text-align: center;
    background-color: white;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}


.teacher_lab h1 {
    padding-top: 10px;
    border-bottom: solid lightgreen;
    font-family: Arial;
    color: green;
    font-weight: 700;
    /* padding: 10px 20px; */
    padding-bottom: 15px;
}
.row.teachers {
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-3 img {
    width: 180px;  
    border-radius: 50%;
    padding-top: 5px;
}
.col-md-3 {
    padding-left: 40px;
    margin-top: -8px;
    background-color: white;
}
.col-md-3 p {
    color: red;
    font-family: cursive;
    font-weight: 700;
}
.purpose {
    padding-top: 2%;
    padding-left: 28%;
    width: 70%;
}
.research {
    height: 56%;
    background-color: white;
    margin-top: 20px;
}
.parts {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.part_item img{
    width:150px;
}
.part_item img:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
.part_item p {
    padding-top: 8px;
    color: red;
    padding-left: 35%;
    font-weight: 600;
}

.color_fields h1 {
    font-weight: 700;
    color: green;
    font-family: Arial;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid lightgreen;
}
.achievement {
    margin-top: 10px;
    padding: 8px;
    word-wrap: break-word;
    position: relative;
    background-color: #90ee9040;
}
.title {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: green;
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 5px;
    /* border-bottom: solid lightgreen; */
}
.title h1 {
    font-weight: 600;
}
.achievement li {
    padding-left: 10px;
    color: black;
    font-size: 18px;
}
.achievement img {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: 1;
    
    right: 0px;
    width: 15%;
    bottom: 3px;
}
.contact {
    left: 0px;
    position: absolute;
    width: 100%;
    background-color: white;
    color: green;
    margin-top: 20px;
    border-top: solid;
    border-top-color: lightgrey;
    padding: 25px;
}
.col-md-4.email a {
    color: #156715;
    text-decoration: none;
    background-color: transparent;
}
.col-md-8 p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.icon_contact {
    color: green;
    margin: 20px;
    display: inline;
}
